<div class="banner" style="background-image: url('https://files.slack.com/files-pri/T02NE0241-FCD2BDFHQ/view_in_room.jpg');">
  <div class="banner-content">
    <h1>Find Gig Posters</h1>
    <p>from the best night of your life</p>
    <p><i class="fas fa-chevron-down"></i></p>
    <p><i class="fas fa-chevron-down"></i></p>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @posters.each do |poster| %>
      <div class="col-xs-12 col-sm-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url(<%= poster.photo %>);">

          <div class="card-container">
            <div class="card-category"><%= poster.artist_name %> </div>
            <div class="card-description">
              <p><%= poster.date %> </p>
              <p><%= poster.venue_name %> </p>
            </div>
            <div class="price">
              <h3>£<%= poster.price %> </h3>
            </div>
            <%= link_to "", poster_path(poster.id), class: "card-link" %>
          </div>
        </div>

      </div>
    <% end %>
</div>
</div>
