<!-- <div class="banner" style="background-image: url('https://res.cloudinary.com/duspt82gb/image/upload/v1534947776/view_in_room.jpg');">
  <div class="banner-content">
    <h1>Find Gig Posters</h1>
    <p>from the best night of your life</p>
    <p><i class="fas fa-chevron-down"></i></p>
    <p><i class="fas fa-chevron-down"></i></p>
  </div>
</div>
 -->

<div class="container">
  <div class="row">



    <% @posters.each do |poster| %>
      <div class="col-xs-12 col-sm-3">
        <div class="card" >

          <div class="card-container" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url(<%= poster.photo %>);">
            <div class="card-category">


            </div>
          </div>

           <div class="card-description">
              <h4><%= poster.artist_name %></h4>
              <p> <%= poster.venue_name %> - <%= poster.date %> </p>

              <div class="price">
                <h3>£<%= poster.price %> </h3>
              </div>
            </div>
            <%= link_to "", poster_path(poster.id), class: "card-link" %>
          </div>

        </div>

    <% end %>


  </div>
</div>
