<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <%= image_tag "poster.jpg", width: '400', height: '600', align: 'left'%>
    </div>
    <div class="col-sm-7">
      <h2><%= @poster.artist_name%> performing at the <%= @poster.venue_name %> on <%= @poster.date.strftime('%x') %></h2>
      <h5><%= @poster.description %></h5>
      <%= link_to "Buy", '#', :class => "btn btn-danger"  %>
      <%= link_to "Back", posters_path, :class => "btn btn-primary"  %>
    </div>
  </div>
</div>
