<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <%= simple_form_for @poster do |f| %>
        <%= f.input :artist_name, label: "Which artist was headlining?" %>
        <%= f.input :venue_name, label: "Which venue hosted this gig?" %>
        <%= f.input :description, label: "Tell us more about this poster" %>
        <%= f.input :date, label: "What date was the gig?", required: false, input_html: {class: "datepicker"} %>
        <%= f.input :price, label: "Price in GBP" %>
        <%= f.input :photo, label: "Photo url" %>
        <%= f.submit "List Poster for sale!", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>


