<div class="container show-details">
  <div class="row">
    <div class="col-sm-5">
      <img src=" <%= @poster.photo %> "
      style="width: 400px; height: 600px;">
    </div>
    <div class="col-sm-7">
      <h2>You pay</h2>
      <div class="seller">
        <div style="width:100%; height:1px; border: 1px solid #3AA0C5"></div>
        <div>
          <%= image_tag @poster.user.avatar, alt: "alttext", style: "margin-top:-30px;", class: "avatar" %>
        </div>
        <div class="seller-contact">
          <%= @poster.user.username %>
        </div>
      </div>
      <h2 style="text-align: right;">£<%= @poster.price %></h2>
      <%= simple_form_for([@poster, @transaction]) do |f| %>
        <%= f.submit "Confirm Purchase", class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
